/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

:hover.sidebar-menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.content-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.time {
  top: 118px;
}

.iron-bar {
  /* width: 76rem; */
  width: auto;
}

.content-body {
  /* width: 71rem; */
  /* width: auto; */
  width: fit-content;
}
.short-sidebar-nav {
  width: 5.666667%;
}
